
<div class="help">
  <div class="h">category-durations</div>
  <!-- <div>
    selection:
    <pre>{{ selection | json }}</pre>
  </div> -->
  <div class="h2">
    <div class="h"> //durations:</div>
    <!-- <pre>{{ durations | json }}</pre> -->
  </div>
</div>
<!-- <div class="hop">
  <pre>plu: {{ plu | json }}</pre>
</div> -->
<!-- <div class="help">
  <b>durations | pluState:</b>
  <div>
    category:
    <pre>
      {{ category | json }}
  </pre></div>
  <hr>
</div>-->
<div *ngIf="currentDurations$ | async as currentDurations">
  <div class="h2">
    <div class="h">//currentDurations:</div>
    <pre>{{ currentDurations | json }}</pre>
  </div>
  <form [formGroup]="durationsForm">
    <mat-form-field class="full-width">
      <mat-select placeholder="durations" formControlName="durations">
        <!-- *ngFor="let duration of durations.durations" -->
        <!-- <mat-option
        *ngFor="let insurance of durations.insuranceDetails[0].insurances"
        [value]="insurance.duration"
      >
        {{ insurance.duration }}
      </mat-option> -->
        <mat-option
          *ngFor="let duration of currentDurations.durations"
          [value]="duration"
        >
          {{ duration }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <p>{{ productsForm.get("categories")?.value }}</p> -->
  </form>
</div>
