<!-- <div>categories: {{ categories.length }}</div> -->

<div *ngFor="let category of categories; index as id">
  <div>{{ category | json }}</div>
</div>

<div class="container">
  <div class="card" *ngFor="let category of categories; index as id">
    <div class="title">{{ category.categoryName }}</div>
    <div class="content">
      <category-detail
        *ngFor="let detail of category.insuranceDetails"
        [detail]="detail"
        [price]="detail.price"
        [duration]="detail.duration"
      ></category-detail>

      <div class="divider"></div>

      <ng-container *ngIf="durationsValues.length">
        <div class="select">
          <!-- <div>durationsValues: {{ durationsValues }}</div> -->
          <form [formGroup]="durationsForm">
            <mat-form-field class="full-width">
              <mat-select placeholder="durations" formControlName="durations">
                <mat-option
                  *ngFor="let duration of durationsValues"
                  [value]="duration"
                >
                  {{ duration }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <p>{{durationsForm.get('durations')?.value}}</p> -->
          </form>
        </div>
      </ng-container>

      <div class="select0">
        <div>{{ category.durations }}</div>
        <!-- <ng-container *ngIf="animals.length > 0">
          <select name="items" id="items" [formControl]="animalCtrl">
            <option *ngFor="let item of animals">{{item}}</option>
          </select>
        </ng-container> -->

        <ng-container *ngIf="durations$ | async as durations">
          <!-- <pre>{{ durations | json }}</pre> -->
          <select name="items" id="items" [formControl]="durationForm">
            <option *ngFor="let duration of durations; index as id">
              {{ durations[id] }}
            </option>
          </select>
          <hr />

          <pre>{{ category.durations | json }}</pre>
          <mat-form-field>
            <mat-label>Durations</mat-label>
            <mat-select [formControl]="durationForm" required>
              <mat-option
                *ngFor="let duration of category.durations; index as id"
                [value]="durations[0]"
              >
                {{ duration }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="durationForm.hasError('required')"
              >Please choose duration</mat-error
            >
          </mat-form-field>
        </ng-container>

        <!-- <mat-form-field>
          <mat-label>Durations</mat-label>
          <mat-select [formControl]="durationForm" required>
            <mat-option>--</mat-option>
            <mat-option
              *ngFor="let duration of category.durations"
              [value]="duration"
            >
              {{ duration }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="durationForm.hasError('required')"
            >Please choose duration</mat-error
          >
          <mat-hint>{{ animalControl.value?.sound }}</mat-hint>
        </mat-form-field> -->
      </div>
      <!-- <mat-form-field>
        <mat-label>Favorite animal</mat-label>
        <mat-select [formControl]="animalControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let animal of animals" [value]="animal">
            {{ animal.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')"
          >Please choose an animal</mat-error
        >
        <mat-hint>{{ animalControl.value?.sound }}</mat-hint>
      </mat-form-field> -->
    </div>
  </div>
  <!-- <mat-card *ngFor="let category of categories; index as id">
    <mat-card-title>{{ category.categoryName }}</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
    <mat-card-content>
      <div *ngFor="let detail of category.insuranceDetails">
        <category-detail
          [price]="detail.price"
          [duration]="detail.duration"
        ></category-detail>
      </div>
    </mat-card-content>
  </mat-card> -->
</div>
