<!-- <div>categories: {{ categories.length }}</div> -->

<div *ngFor="let category of categories; index as id">
  <div>{{ category | json }}</div>
</div>

<div class="container">
  <div class="card" *ngFor="let category of categories; index as id">
    <div class="title">{{ category.categoryName }}</div>
    <div class="content">
      <category-detail
        *ngFor="let detail of category.insuranceDetails"
        [detail]="detail"
        [price]="detail.price"
        [duration]="detail.duration"
      ></category-detail>

      <div class="divider"></div>

      <div class="select">{{ category.durations }}</div>
      <mat-form-field appearance="fill">
        <mat-label>Favorite animal</mat-label>
        <mat-select [formControl]="animalControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let animal of animals" [value]="animal">
            {{ animal.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="animalControl.hasError('required')"
          >Please choose an animal</mat-error
        >
        <mat-hint>{{ animalControl.value?.sound }}</mat-hint>
      </mat-form-field>

      <!-- <mat-radio-group class="select">
        <mat-radio-button
          *ngFor="let detail of category.insuranceDetails"
          [value]="detail.duration"
          >{{ detail.duration }}</mat-radio-button
        >
      </mat-radio-group> -->
    </div>
  </div>
  <!-- <mat-card *ngFor="let category of categories; index as id">
    <mat-card-title>{{ category.categoryName }}</mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
    <mat-card-content>
      <div *ngFor="let detail of category.insuranceDetails">
        <category-detail
          [price]="detail.price"
          [duration]="detail.duration"
        ></category-detail>
      </div>
    </mat-card-content>
  </mat-card> -->
</div>
